
.choose-us {
    background-color: #F7F7F7;
    padding: 50px;
  }
  
  .choose-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
  }
  
  .choose-us-text {
    margin-top: 50px;
  }

  .navigator {
    display: none;
    word-spacing: 30px;
    margin-top: 20px;
  }

  .content-width {
    padding: 0 30px;
  }

  .hero {
    background-image: url('../../img/heroimage.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    gap: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 30px;
  }

  .hero-text {
    font-size: 40px;
  }

  .paragraph{
    margin-top: 55px;
  }

  .faq-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 70px;
  }
  
  .faq-item {
    width: 350px;
    text-align: center;
  }

  .choose-us-item {
    width: 319px;
  }

  .faq {
    margin-bottom: 90px;
  }

.newsletter{
  text-align: center;
  justify-content: center;
  margin-top: 60px;
  padding: 20px;
}

.form {
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  margin-top: 70px;
  justify-content: center;
  gap: 15px;
  padding-bottom: 100px;


}

.form label {
  display: none;
  border-color: 0.2rem solid #000000;

}
.form input,
.form textarea {
  padding: 0.6em 3em;
  border-color: 0.1rem solid #000000;
}

.form::placeholder{
  font-style: italic;

}

.button5{
  display: inline-block;
  padding: 0.7em 1rem;
  background-color: #141414;
  color: #f5f4f7;
  text-decoration: none;
}


  @media only screen and (min-width: 600px) {
    .content-width {
      max-width: 1346px;
      margin: 0 auto;
      padding: 0 87px;
    }
    
    .choose-us-container {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
    }

    .navigator-small {
        display: none;
    }

    .navigator {
        display: block;
    }

    .hero {
      height: 665px;
    }

    .faq-container {
      flex-direction: row;
      justify-content: center;
      gap: 100px;
    }

    .faq-item {
      width: 421px;
    }
  }

  .duk-container {
    text-align: center;
    margin-top: 90px;
  }

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.link {
    text-decoration: none;
    color: black;
    justify-content: space-between;
    font-size: larger;
}

.link:hover {
    text-decoration: underline;
}

.choose-us {
    text-align: center;
}

.button1 {
  display: inline-block;
  padding: 0.7em 2em;
  background-color: #141414;
  color: #f5f4f7;
  text-decoration: none;
  font-weight: bold;
}
.button1:hover{
  background-color: #fff;
  color: black;
}


.button2 {
  display: inline-block;
  padding: 0.7em 2.5rem;
  background-color: #141414;
  color: #f5f4f7;
  text-decoration: none;
  
}
.button2:hover{
  background-color: #fff;
  color: black;
}

.button3 {
  display: inline-block;
  padding: 0.7em 2.5em;
  background-color: #F3F3F3;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 11px;
}
.button3:hover{
background-color: #414141;
color: #FFFFFF;
}

.button4{
  display: inline-block;
  padding: 0.7em 2.5em;
  background-color: #F3F3F3;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 11px;
}
.button4:hover{
  background-color: #414141;
  color: #FFFFFF;
}

.contact{
  justify-content: center;
  text-align: center;
  margin-bottom: 3rem;
  font-family: Arial, Helvetica, sans-serif;
}

.adress{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 56em;
}

.time{
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 51em;
}

.footer{

  background-color: #EDEDED;
  padding-top: 50px;
  padding-bottom: 59px;
  gap: 50px;
}