
.choose-us {
    background-color: #F7F7F7;
    padding: 50px;
  }
  
  .choose-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
  }
  
  .choose-us-text {
    margin-top: 50px;
  }

  .navigator {
    display: none;
    word-spacing: 30px;
    margin-top: 20px;
  }

  .content-width {
    padding: 0 30px;
  }

  .hero {
    background-image: url('../../img/heroimage.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    gap: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 30px;
  }

  .hero-text {
    font-size: 40px;
  }

  .faq-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .faq-item {
    width: 350px;
    text-align: center;
  }

  .choose-us-item {
    width: 319px;
  }

  @media only screen and (min-width: 600px) {
    .content-width {
      max-width: 1346px;
      margin: 0 auto;
      padding: 0 87px;
    }
    
    .choose-us-container {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
    }

    .navigator-small {
        display: none;
    }

    .navigator {
        display: block;
    }

    .hero {
      height: 665px;
    }

    .faq-container {
      flex-direction: row;
      justify-content: center;
      gap: 100px;
    }

    .faq-item {
      width: 421px;
    }
  }

  .duk {
    text-align: center;
    margin-top: 90px;
  }

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.link {
    text-decoration: none;
    color: black;
    justify-content: space-between;
    font-size: larger;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.link:hover {
    text-decoration: underline;
}

.choose-us {
    text-align: center;
}

.button1 {
  display: inline-block;
  padding: 0.7em 2.5em;
  background-color: #080808;
  color: #f5f4f7;
  text-decoration: none;
  font-weight: bold;
}


.button2 {
  display: inline-block;
  padding: 0.7em;
  background-color: #f5f4f7;
  color: #080808;
  text-decoration: none;
  
}